/* main {
    background-image: url("../img/background.jpg");
} */

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    display: inline-block;
    width: 70vw;
}