body .nav {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    scroll-behavior: smooth;
}

header {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

main,
footer {
    font-family: 'Muli', sans-serif;
}

.section_titles {
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

p.fbox_description {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    display: inline-block;
    width: 70vw;
}

footer {
    margin-top: 10vh;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-width: 344px;
    min-height: 56px;
    transition: min-height 0.3s;
    position: static;
}

body,
main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-width: 344px;
    padding-top: 10px;
}

.header__menu {
    display: inline-block;
    width: 8vw;
    margin-top: 24px;
    margin-left: 2.8vw;
    min-width: 25px;
}

.header__logo {
    min-width: 40px;
    display: inline-block;
    width: 12vw;
    vertical-align: top;
    margin: 0 0 0 2.8vw;
}

.header__title {
    margin-left: 2.8vw;
    font-family: 'Satisfy', cursive;
    margin-top: 24px;
    font-size: 1.5em;
    display: inline-block;
    width: 64.94vw;
    min-width: 233px;
    text-align: center;
    vertical-align: top;
}

.main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80vw;
    min-width: 280px;
    max-width: 600px;
    border-radius: 10%;
}

.featured_work_projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60vw;
    border-radius: 10%;
}

.feature-box {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
}

.fbox-icon:hover {
    background-color: #36b7b3;
    width: calc(60px * 1.1);
    height: calc(60px * 1.1);
}

.fbox-icon {
    margin-top: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    min-width: 50px;
    height: 60px;
    background-color: #5ec5c2;
    border-radius: 50%;
    -webkit-transition: width 1s;
    -webkit-transition: height 1s;
    /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    transition: width 1s;
}

.fbox-title {
    text-align: center;
}

.icon-img {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 36px;
    min-width: 30px;
    color: white;
}

.featured_work:not(:first-of-type) {
    margin-top: 20%;
}

.fbox-icon2:hover {
    background-color: #36b7b3;
    width: calc(96px * 1.1);
    height: calc(96px * 1.1);
}

.feature-box2 {
    display: inline-block;
    margin-top: -50px;
    position: relative;
    padding: 0;
    width: 49.3%;
}

.fbox-icon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    min-width: 90px;
    height: 96px;
    border: solid #5ec5c2;
    /* background-color: #5ec5c2; */
    border-radius: 50%;
    -webkit-transition: width 1s;
    -webkit-transition: height 1s;
    /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    transition: width 1s;
}

.icon-img2 {
    display: block;
    margin-top: 4.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 43.19px;
    min-width: 40px;
    color: white;
}

.fbox-title2 {
    display: block;
    margin-top: 150px;
    text-align: center;
}