/* main {
    background-image: url("../img/background.jpg");
} */

/* body {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #96deda 51% #50c9c3 75%);
} */

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

header {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.about_me,
.about_work,
footer {
    font-family: 'Muli', sans-serif;
}

.section_titles {
    text-align: left;
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    display: inline-block;
    width: 70vw;
}

footer {
    margin-top: 10vh;
    margin-bottom: 20vh;
}