@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .section_titles {
        text-align: left;
        font-size: 36pt;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    p {
        text-align: justify;
        font-size: 24pt;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .fbox-title {
        font-size: 24pt;
        text-align: center;
    }

    .header {
        width: 100vw;
        height: 15vh;
        max-height: 20vh;
        min-height: 10vh;
        transition: min-height 0.3s;
    }

    .header__menu {
        display: none;
    }

    .header__logo {
        display: inline-block;
        height: 100px;
        width: 15vw;
        margin-top: calc((15vh - 100px)/2);
        margin-left: 10vw;
    }

    .header__inner {
        height: 15vh;

    }

    .header__title {
        display: inline-block;
        font-family: 'Satisfy', cursive;
        font-size: 48pt;
        text-align: center;
        margin-left: 10vw;
        margin-top: calc((15vh- 48pt)/2);
        margin-bottom: 0px;
        margin-right: 0px;
        width: 64vw;

    }

    .featured_work_projects {
        width: 85vw;
        height: 35vh;
    }

    .fbox-icon {
        margin-top: 100px;
        width: 150px;
        min-width: 140px;
        height: 150px;
    }

    .icon-img {
        margin-top: 25px;
        width: 100px;
        height: 100px;
        min-width: 90px;
        color: white;
    }

    .fbox-icon:hover {
        background-color: #36b7b3;
        width: calc(150px * 1.1);
        height: calc(150px * 1.1);
    }

    .fbox-icon2:hover {
        background-color: #36b7b3;
        width: calc(200px * 1.1);
        height: calc(200px * 1.1);
    }


    .fbox-icon2 {
        min-width: 200px;
        height: 200px;
    }

    .icon-img2 {
        margin-top: 35px;
        width: 125px;
        height: 125px;
        min-width: 115px;
    }

    .fbox-title2 {
        font-size: 24pt;
        display: block;
        margin-top: 300px;
        text-align: center;
    }
}